@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen and (max-width: 900px) /* Mobile and tablet */
{
    .photo /* photo CV */
    {
        margin:auto;
        width: 90px;
        margin-top: 15px;
        position: relative;
        top: 0;
        left:30px; 
    }
    h1
    {
        font-size: 1.5em;
    }
    h2
    {
        font-size: 1em;
        font-weight: normal;
    }
    h3
    {
        margin-bottom: 35px;
    }
    .lieu
    {
        font-size: 0.9em;
    }
    .introduction
    {
        font-size: 1.2em;
    }

    body
    {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        z-index: 0;
    }
    body::after
    {
        content:"";
        background-image: url("image/laura-adai--KlC1a48kFE-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        opacity:0.3;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        position: absolute;
        z-index: -2;
        filter:grayscale(1);
    }  
 
    ul.timeline > li {
        margin: 30px 0;
        padding-left: 31px;
    }
    .skill:nth-child(2)
    {
        margin-top: 0.5em;
    }
    .skill-title
    {
        margin-top: 10px;
    }
    .arrow
    {
    display:none;
    }
    header 
    {
    height: 100vh;
    position:relative;
    z-index:-1;
    }
    .timeline_content h4
    {
    transform: translate(10px);
    margin-bottom: 25px;
    }
    .skill-list{ transform: translate(-30px);}
}
@media screen and (min-width: 901px) /* laptop */
{
    .photo
    {   
        width: 120px;
        position: relative;
        top: 0;
        left:90px; 
    }
    .education, .experience
    {
        padding-left: 20vh;
    }
    .skill-title
    {
        padding-left: 10vh;
    }
    .education-title, .experience-title
    {
        position: relative;
        right: 6vh;
    }

    .introduction
    {
    text-align:start;
    font-size: 2.4em;
    margin: 45px 0px 25px 0px;
    }
    h2
    {
        font-size: 1.4em ;
        font-weight: normal;
    }
    body
    {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        z-index: 0;
    }
    body::after
    {
        content:"";
        background-image: url("image/laura-adai--KlC1a48kFE-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity:0.2;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        position: absolute;
        z-index: -2;
        filter:grayscale(0.2);
    } 
    ul.timeline > li {
        margin: 30px 0;
        padding-left: 45px;
    }
    .lieu
    {
        font-size: 1.2em;
    }
    h1
    {
        font-size: 3em;
    }
    h3
    {
        margin-bottom: 50px;
        font-size:2.2em;
    }
    header 
    {
    height: 100vh;
    position:relative;
    z-index:-1;
    }
    .header 
    {
        position:relative;
        top:15vh;
    }
    .arrow
    {
    transform: rotate(140deg);
    width : 140px;
    height: 150px;
    }
    header .top-link { 
        
    text-align: center;
    display: block;
    position: relative;
    top:10vh;   
    }
    .experience ul { margin-left: 45px;}
    .timeline_content p {margin-left:40px; }
}  
 
body
{
    font-family: 'Roboto' , sans-serif;
}
h3 {font-family: 'Nunito', sans-serif; font-weight: 700;}
h1
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.lieu
{
    text-shadow: #d62f2f96 0px 0px 3px;
}
.buttonMail
{   
    border-radius: 10px;
    position:absolute; 
    margin-top:5vh;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); 
    z-index: 2;
}
.buttonMail:hover
{
    border-radius: 10px;
    border: 5px solid black;
    color: black;
    background-color: white;
    transition: 0.5s;
    font-weight: bold;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);   
}
.head
{
    list-style-type: none;
    margin-left: -25px;
    margin-top: 15px;
}
.head i
{
    color:#D62F2F;
}
.github:hover
{
    color:white;    
    border-radius: 15px;
    background-color: black;
    border: 7px solid black;
    transition: 0.8s;
    transform: rotate(360deg);
}
.linkedin:hover
{
    color:white;    
    border-radius: 15px;
    background-color: black;
    border: 7px solid black;
    transition: 0.8s;
    transform: rotate(360deg);
}
.contact:hover
{    
    color:white;    
    border-radius: 15px;
    background-color: black;
    border: 7px solid black;
    transition: 0.8s;
    transform: rotate(-360deg);
}
.photo
{
   border-radius: 20px;
   box-shadow:
   0 0px 15px -6px rgba(0, 0, 0, 0.011),
   0 0px 20.4px -6px rgba(0, 0, 0, 0.035),
   0 0px 24.6px -6px rgba(0, 0, 0, 0.074),
   0 0px 30.5px -6px rgba(0, 0, 0, 0.141),
   0 0px 50px -6px rgba(0, 0, 0, 0.37);
}

.introstyle
{
    color:#D62F2F;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.712);
}
.icon
{
    color:#D62F2F;
    font-size: 1.3em;
}
.icon:hover
{
    color:#FFEE00;
    transform: rotate(360deg);
    transition: 1s;
}

/* Formation */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: '';
    background: #D2C0B9;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 14px;
    width: 4px;
    height: 100%;
    z-index: 400;
}

.timeline_puce {
    content: '';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    border: 3px solid #D62F2F;
    left: -10px;
    width: 3.4rem;
    height: 3.4rem;
    z-index: 400;
    text-align: center;
}
.timeline_puce > .date {
    font-weight: bold;
    position: relative;
    top: 12px;
}
section .timeline>li
{
    margin-top: 20px;
}
.timeline_content
{
    padding-top:10px;
    margin-bottom: 20px;
}
.timeline_content > ul, .skill-info
{
    list-style-type: none;
}
.timeline_content p
{
    width:100%;
}
.skill
{
  border: 5px double #91817a;
  border-radius: 15px;
}
.skill>h4
{
    margin-top: 10px;
    margin-right: 10px;
}
.skill i
{
    margin-right: 10px;
}
.skill li
{
    padding-left: 20px;
    list-style-position: inside;
}
div > .exp
{
    margin-top: 10px;
}
.exp-date
{
    line-height: 0.4em;
    font-style: italic;
    margin-bottom: 30px;
}
.experience-bloc ul 
{
    margin-bottom: 25px;
}
.experience ul
{
    list-style-type: none;
}
.skill-list > li::before
{
    content:"\2B9E";
    margin-right: 0.5em;   
}
.skill-info > li::before
{
    margin-right: 0.5em;
}
section:nth-child(4), section:nth-child(3) {border-top : 3px double black;}