@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
  --main-color:#FFBF00;
  --text-color:#fff;
  --textbis-color: #000;
  --btn-color:#fff;
  --item-color:#fff;
  --bg-color:#1F2023;
  --bgbis-color:#FFBF00;
  --bonus-color: #1D8A99;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color: var(--main-color);
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.6s;
}
.logo
{
  font-weight: 600;
  color:var(--bg-color);
  text-decoration: none;
  font-size:2.2em;
  letter-spacing:2px;
  transition: 0.6s;
  font-family: 'Lobster', sans-serif;
}
a
{
  text-decoration:none;
  color: var(--bg-color)
}
nav
{
  position: absolute;
  top: 50px;
  right: 150px;
  z-index: 2;
  margin: 0 0 40px;
}
nav ul 
{
  display:flex;
}
nav ul li
{
  text-decoration: none;
  list-style: none;
  display:inline-block;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 1.4em;
  font-weight: 700;
}
section
{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  margin:150px 50px;
  padding:25px;
  
}
section .portfolio
{
  
  background-color: var(--bg-color);
  color: var(--main-color);
  border-radius: 15px;
  box-shadow:12px 12px 2px 1px #1D8A99;
  padding:40px;
}
section ol
{
  list-style:"> ";
  font-size:2em;
  padding: 20px;
  color: #1D8A99;
  font-weight: 700;
}
section ol li
{
  padding: 10px 0px; 
}
section ol li a 
{
  color: var(--main-color);
  font-weight: 500;
}
section ol a:hover
{
  text-decoration: underline #1D8A99;
  transition: 0.4;
} 
section h1
{
  padding-bottom: 20px;
  font-size:2.3em;
  letter-spacing:3px;
  font-family: 'lobster';
  text-align: center;
}

@media (max-width:880px) /*mobile*/ 
{
  .logo
  {
    font-size:1.5em;

  }
  header
  {
    padding: 20px 50px;
  }
  header #toggle
  {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
  header #toggle:before
  {
    content:'';
    position:absolute;
    top:7px;
    width: 100%;
    height: 2px;
    background:var(--bg-color);
    transition: 0.6;
  }
  header #toggle:after
  {
    content:'';
    position:absolute;
    bottom:7px;
    width: 100%;
    height: 2px;
    background:var(--bg-color);
    transition: 0.6;
  }
  header.active #toggle::before
  {
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.5s;
  background:var(--main-color);
  }
  header.active #toggle::after
  {
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 0.5s;
  background:var(--main-color);
  }
  nav
  {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--bg-color);
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
    transform: translateX(250px);
  }
  #navigation.active
  {
    transform: translateX(0px);
  }
  nav ul
  {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  nav ul li
  {
    margin: 5px;
  }
  nav a
  {
    color: var(--main-color);
  }
  header.active .logo
  {
    transform: translateX(-250px);
  }
  section ol 
  {
  font-size:1.3em;
  }
}